<p id="notice"><%= notice %></p>

<h1> <%= (@shelf.owner.name) +" / "+ (@shelf.name) %></h1>

<h2>Books</h2>

<table>
<tr>
<% %w(Title Author Publisher).each do |t| %> <th><%= t %></th> <% end %>
<% @books.each do |book| %>
  <tr>
    <td><%= link_to book.title, book %></td>
    <td><%= book.author %></td>
    <td><%= book.publisher %></td>
    <td><%= b=book.borrower and "On loan to #{b.name}" %></td>

    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  <tr>
    <td colspan=7>
<%= link_to 'New Book', new_book_path %>
    </td>
  </tr>
</table>


<%= link_to 'Edit', edit_shelf_path(@shelf) %> |
<%= link_to 'Back', shelves_path %>
