<p id="notice"><%= notice %></p>

<h1> <%= link_to(@shelf.owner.name,@shelf.owner) +" / "+ (@shelf.name) %></h1>

<h2>Books</h2>

<table>
<tr>
<% %w(Title Author Publisher ISBN).each do |t| %> <th><%= t %></th> 
<% end %>
</tr>
<% @books.each do |book| %>
<%=   if book.collection.permitted?(current_user,:show) then 
     render :partial=>"books/row", :locals => {
      :book=>book,:columns=>[] 
  } 
   end %>
<% end %>
  <tr>
    <td colspan=7>
<%= if current_user=@shelf.owner then 
  link_to 'New Book',  new_book_path 
end %>
    </td>
  </tr>
</table>


<%= link_to 'Edit', edit_shelf_path(@shelf) %> |
<%= link_to 'Back', shelves_path %>
