<p id="notice"><%= notice %></p>

<p>
  <b>Isbn:</b>
  <%= @edition.isbn %>
</p>

<p>
  <b>Publisher:</b>
  <%= @edition.publisher %>
</p>

<p>
  <b>Publication:</b>
  <%= @edition.publication %>
</p>

<p>
  <b>Picture:</b>
  <%= @edition.picture %>
</p>


<%= link_to 'Edit', edit_edition_path(@edition) %> |
<%= link_to 'Back', editions_path %>
