<h1>Users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Full name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name,user %></td>
    <td><%= user.fullname %></td>
<% if current_user.admin? then %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method:
    :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />
<p><%= will_paginate @users %></p>

<%= link_to 'New User', new_user_path %>
