<p id="notice"><%= notice %></p>

<h1><%= "#{@user.name} (#{@user.fullname})" %></h1>

<div class=todo>This should be the user public profile page,
containing name, contact details, any kind of relevant bio,
approximate geographical location, etc.  current_user is permitted to
see this if he has :show permission on any of the user's shelves.
Also want a summary of their recent activity
</div>

<ul class="tabs">
<% if @collections.present? then %>
<li><a name="collections" href="#collections">Collections</a></li>
<% end %>
<% if @shelves.present? then %>
<li><a name="shelves" href="#shelves">Shelves</a></li>
<% end %>
</ul>

<div class="tab_container">
  <% if @collections.present? then %>
  <div id="collections" class="tab">
    <ul>
      <% @collections.each do |c| %>
      <li> <%= link_to c.name,c %> </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% if @shelves.present? then %>
  <div id="shelves" class="tab">
    <ul>
      <% @shelves.each do |s| %>
      <li> <%= link_to s.name,s %> </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>


<p style="clear: both">
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
