<p id="notice"><%= notice %></p>

<h1><%= "#{@user.name} (#{@user.fullname})" %></h1>

<%= image_tag @user.image_url(:medium), class: 'avatar' %> 

<div class=todo>This should be the user public profile page,
containing name, contact details, any kind of relevant bio,
approximate geographical location, etc.  current_user is permitted to
see this if he has :show permission on any of the user's shelves.
Also want a summary of their recent activity
</div>

<ul class="tabs">
<% if @collections.present? then %>
<li><a name="collections" href="#collections">Collections</a></li>
<% end %>
<% if @shelves.present? then %>
<li><a name="shelves" href="#shelves">Shelves</a></li>
<% end %>
</ul>

<div class="tab_container">
  <% if @collections.present? then %>
  <div id="collections" class="tab">
    <table>
      <% @collections.each do |c| %>
      <tr>
	<td> <%= link_to c.name,c %> </td>
<% if c.permitted?(current_user,:edit) then %>
	<td><%= link_to 'Edit', edit_collection_path(c) %></td>
<% end %>
<% if c.permitted?(current_user,:delete) then %>
	<td><%= link_to 'Destroy', c, confirm: 'Delete - are you sure?',
	method: :delete %>
<% end %>
      </tr>
      <% end %>
    </table>
<%= if current_user==@user then
 link_to 'New Collection', new_collection_path 
end
%>
  </div>
  <% end %>

  <% if @shelves.present? then %>
  <div id="shelves" class="tab">
    <table>
      <% @shelves.each do |c| %>
      <tr>
	<td> <%= link_to c.name,c %> </td>
<% if c.permitted?(current_user,:edit) then %>
	<td><%= link_to 'Edit', edit_shelf_path(c) %></td>
<% end %>
<% if c.permitted?(current_user,:delete) then %>
	<td><%= link_to 'Destroy', c, confirm: 'Delete - are you sure?',
	method: :delete %>
<% end %>
      </tr>
      <% end %>
    </table>
<%= if current_user==@user then
 link_to 'New Shelf', new_shelf_path 
end
%>


  </div>
  <% end %>
</div>


<p style="clear: both">
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
