<p id="notice"><%= notice %></p>

<p><i>
This should be the user public profile page, containing name, contact
details, any kind of relevant bio, approximate geographical location,
etc.  Information here is subject to privacy controls of some kind
(but KISS please).  Also want links to the users' collections + the
books therein, and a summary of their recent activity
  </i>

<p>
  <b>Id:</b>
  <%= @user.id %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Fullname:</b>
  <%= @user.fullname %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
