<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shelf_id %>
    <%= collection_select(:book,:shelf_id,@shelves,:id,:name) %>
  </div>
  <div class="field">
    <%= f.label :collection_id %>
    <%= collection_select(:book,:collection_id,@collections,:id,:name,{ 
	:include_blank => '(guess collection)' 
    }) %>
  </div>

  <% [:isbn,:title,:author,:publisher].each do |name| %>
    <div class="field">
      <%= f.label name %>
      <%= f.text_field name %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
