<p id="notice"><%= notice %></p>

<p>
  <b>Home:</b>
  <%= s=@book.shelf ; s && link_to([s.owner.name,s.name].join(" / "),s) %>
</p>

<%= image_tag @book.cover_image_url(:medium),:align=>:right,:alt=>"Cover image" %>

<% if @book.borrower then %>
<p>
  <b>Borrower:</b>
  <%= b=@book.borrower && link_to(b.name,b) %>
</p>
<% end %>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>
<p>
  <b>Author:</b>
  <%= @book.author %>
</p>
<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>
<p>
  <b>ISBN:</b>
  <%= @book.isbn %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
