<!DOCTYPE html>
<html>
<head>
  <title>Logovore</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
<header>
<a href="/">
<%= image_tag "logovore-logo.png", id: "logo",alt: "LOGOVORE" %>
</a>
<div id="session">
<% if u=current_user then %>
<%= link_to("#{u.name} (#{u.fullname})",u) %>
 / 
<%= link_to("sign out","/logout") %>
<% else %>
<%= link_to("sign in",'/')   %>
<% end %>
</div>
<div class="divider" clear="both" > </div>

</header>
<article>
<%= yield %>
</article>
<footer>
<div class="divider" clear="both"> </div>
Site Copyright &copy;2011 Daniel Barlow.  User-generated content is
  the property of individual users.
</footer>
</body>
</html>
