<!DOCTYPE html>
<html>
<head>
  <title>Exlibris</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
<header>
<img id="logo_bookend_left" src="/logo-bookend-left.png">
<img id="logo_bookend_right" src="/logo-bookend-right.png">
<a href="/"><img id="logo" alt="Ex Libris" src="/logo-text.png"></a>
<div id="session">
<%= if u=current_user then
   link_to("#{u.name} (#{u.fullname})",u)  
else
   link_to("sign in",'/')  
end
%>
</div>
<div class="divider" clear="both"> </div>
</header>
<article>
<%= yield %>
</article>
<footer>
<div class="divider" clear="both"> </div>
Site Copyright &copy;2011 Daniel Barlow.  User-generated content is
  the property of individual users.
</footer>
</body>
</html>
